<!DOCTYPE html>
<html lang="en">

<head>
  <title>BURGERS!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Barrio" rel="stylesheet">
  <link href="assets/css/burger_styles.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>

</head>


<body>
  {{!--allows handlebars insertion--}}
  {{{ body }}}
</body>

</html>