<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 page-header text-center">
      <img src="assets/img/burger.jpg" sloth="https://media.giphy.com/media/3NtY188QaxDdC/giphy.gif" burger="assets/img/burger.jpg"
        class="img-responsive img-rounded" id="burger-img" alt="burger">
      <h1>All the Burgers!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-center">Menu</h2>
          <hr>
        </div>
      </div>
      <ul class="list-group">
        {{#each burgers}} {{#unless cooked}} {{!--#each loops through burgers data, adding all not cooked to list--}}
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-6">
              {{this.burger_name}}
            </div>
            <div class="col-xs-6 text-right">
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="text" class="form-control" id="customer-name" name="name" placeholder="Customer Name">
                <input type="hidden" name="cooked" value="true">
                <button type="submit" class="btn btn-danger order-btn">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;&nbsp;Order Burger
                </button>
              </form>
            </div>
          </div>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-center">Order Ready</h2>
          <hr>
        </div>
      </div>
      <ul class="list-group">
        {{#each burgers}} {{#if cooked}} {{!--adds all cooked burgers to list--}}
        <li class="list-group-item">
          {{this.burger_name}} is ready for {{this.Customer.customer_name}}!
        </li>
        {{/if}} {{/each}}
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
          <label for="burger-name">New Burger Name</label>
          <input type="text" class="form-control" id="burger-name" name="name">
        </div>
        <button id="add-btn" class="form-control btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;Add Burger</button>
      </form>
      <form class="create-update-form" action="/?_method=DELETE" method="POST">
        <button id="clear-btn" class="form-control btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;Clear the Table</button>
      </form>
      <br>
    </div>
  </div>
</div>