body {
  font-family: 'Baloo Bhaina', cursive;
  background: #EEEBD3;
  color: #437C90;
  font-size: 2em;
}

hr {
  border: 1px solid #255957;
}

#burger-img {
  visibility: hidden;
}

.list-group-item {
  background: #437C90;
  color: #EEEBD3;
}